<section class="dashboard">
  <div class="container">
    <div class="dashboard__top">
      <div class="dashboard__top-left">
        <div class="dashboard__top-left-first">
          <img
            loading="lazy"
            src="./assets/images/activity/dashboard/top-img/board-photo-1.jpg"
            width="584"
            height="751"
            alt="working space"
          />
          <h3 class="dashboard__top-title heading-h3">
            How we perform long-running <br />
            tasks using AWS services
          </h3>
          <p class="dashboard__top-descr text-p-medium">
            Webflow is web design tool as well as a hosting platform <br />
            and CMS all in one. While you are probably familiar with all <br />
            of these, they are usually entirely separate tools.
          </p>
        </div>
        <div class="dashboard__top-left-second">
          <img
            loading="lazy"
            src="./assets/images/activity/dashboard/top-img/board-photo-2.jpg"
            alt="working space"
          />
          <h3 class="dashboard__top-title heading-h3">
            Layout Exploration — Simple <br />
            exercise but big effect
          </h3>
          <p class="dashboard__top-descr text-p-medium">
            Make alternatives or other options for the design we are <br />
            making. For example, we are creating a website design. <br />
            Then there is the testimonial section.
          </p>
        </div>
      </div>
      <div class="dashboard__top-right">
        <div class="dashboard__top-right-first">
          <img
            loading="lazy"
            src="./assets/images/activity/dashboard/top-img/board-photo-3.jpg"
            width="584"
            height="751"
            alt="working space"
          />
          <h3 class="dashboard__top-title heading-h3">
            How to ask when <br />
            doing User Research
          </h3>
          <p class="dashboard__top-descr text-p-medium">
            Bro, the story is that you want to make an application for <br />
            buying and selling goods on the market. During user <br />
            research, what do you think you will ask people?
          </p>
        </div>
        <div class="dashboard__top-right-second">
          <img
            loading="lazy"
            src="./assets/images/activity/dashboard/top-img/board-photo-4.jpg"
            alt="working space"
          />
          <h3 class="dashboard__top-title heading-h3">
            Webflow Break the <br />
            Coding Barrier
          </h3>
          <p class="dashboard__top-descr text-p-medium">
            Webflow is web design tool as well as a hosting platform <br> and CMS all
            in one. While you are probably familiar with all <br> of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
