<section class="updates">
  <div class="container">
    <div class="updates__top">
      <h2 class="updates__title heading-h1">Activity & Updates</h2>
      <p class="updates__subtitle">
        Our biggest challenge is making sure we're <br> always designing and building
        products that <br> will help you run your business better.
      </p>
    </div>
    <div class="updates__links">
        <ul class="updates__links-list">
            <li class="updates__links-item">
                <a class="updates__links-link" href="#">View all</a>
            </li>
            <li class="updates__links-item">
                <a class="updates__links-link" href="#">Design</a>
            </li>
            <li class="updates__links-item">
                <a class="updates__links-link" href="#">Articles</a>
            </li>
            <li class="updates__links-item">
                <a class="updates__links-link" href="#">Product</a>
            </li>
            <li class="updates__links-item">
                <a class="updates__links-link" href="#">Software Development</a>
            </li>
            <li class="updates__links-item">
                <a class="updates__links-link" href="#">Customer Success</a>
            </li>
        </ul>
    </div>

    <div class="swiper updates__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide updates__article">
          <img
            class="updates__article-img"
            width="515"
            height="428"
            loading="lazy"
            src="./assets/images/activity/slider-1.jpg"
            alt="women typing on laptop"
          />
          <div class="updates__article-head">
            <div class="updates__article-date">
              Published in Insight<time datetime="2021-01-30"
                >Jan 30, 2021</time
              >
            </div>
          </div>
          <h3 class="updates__article-title heading-h5">Practice making User Flow</h3>
          <p class="updates__article-descr">In this article, we'll cover how to create user flows</p>
        </div>
        <div class="swiper-slide updates__article">
          <img
            class="updates__article-img"
            width="515"
            height="428"
            loading="lazy"
            src="./assets/images/activity/slider-2.jpg"
            alt="women typing on laptop"
          />
          <div class="updates__article-head">
            <div class="updates__article-date">
              Published in Insight<time datetime="2021-01-30"
                >Jan 30, 2021</time
              >
            </div>
          </div>
          <h3 class="updates__article-title heading-h5">Overview of the Design Principles</h3>
          <p class="updates__article-descr">What are Design Principles?… To understand <br> design principles, we first discuss the principles.</p>
        </div>
        <div class="swiper-slide updates__article">
          <img
            class="updates__article-img"
            width="515"
            height="428"
            loading="lazy"
            src="./assets/images/activity/slider-3.jpg"
            alt="women typing on laptop"
          />
          <div class="updates__article-head">
            <div class="updates__article-date">
              Published in Insight<time datetime="2021-01-30"
                >Jan 30, 2021</time
              >
            </div>
          </div>
          <h3 class="updates__article-title heading-h5">Using Grid in website design</h3>
          <p class="updates__article-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>
      </div>
    </div>
  </div>
</section>
