<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/irbnb.svg"
          alt="Airbnb logo"
          width="97"
          height="30"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/amazon.svg"
          alt="Amazon logo"
          width="97"
          height="30"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/fedex.svg"
          alt="Fidex logo"
          width="96"
          height="30"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/microsoft.svg"
          alt="Microsoft logo"
          width="116"
          height="26"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/google.svg"
          alt="Google logo"
          width="91"
          height="30"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/ola.svg"
          alt="OLA logo"
          width="94"
          height="32"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/walmart.svg"
          alt="Walmart logo"
          width="114"
          height="28"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/oyo.svg"
          alt="OYO logo"
          width="80"
          height="28"
        />
      </li>
    </ul>
  </div>
</section>
