.features {
  padding: 100px 0 94px;

  @include mobile {
    padding: 60px 0 64px;
  }

  &__container {
    @include flex-all-between;

    @include mini-desktop {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      gap: 25px;
    }
  }

  &__left {
    position: relative;
  }

  &__stats {
    position: absolute;
    right: 36px;
    bottom: 40px;
    max-width: 290px;
    padding: 18px;
    background-color: #fff;

    @include mobile {
      right: 16px;
      bottom: 20px;
    }

    @include small-mobile {
      right: 12px;
      bottom: 12px;
      padding: 14px;
      max-width: 240px;
    }

    &-head {
      @include flex-all-between;
      margin-bottom: 19px;
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #1d1e25;
    }

    &-item {
      @include flex-align-center;
      gap: 26px;

      &:not(:last-child) {
        padding-bottom: 23px;
        border-bottom: 1px solid #ededed;
      }

      &:last-child {
        padding-top: 23px;
      }

      &-img {
        @include small-mobile {
          width: 65px;
        }
      }

      &-title {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 10px;
        line-height: 150%;
        color: #7e8492;
      }

      &-price {
        margin-bottom: 9px;
        gap: 12px;
        @include flex-align-center;

        &-num {
          font-weight: 700;
          font-size: 23px;
          line-height: 120%;
          color: #1d1e25;

          @include mobile {
            font-size: 18px;
          }
        }

        &-proc {
          gap: 5px;
          @include flex-align-center;
          font-weight: 500;
          font-size: 10px;
          line-height: 150%;
          color: #1d1e25;
        }
      }

      &-descr {
        font-weight: 400;
        font-size: 8px;
        color: #7e8492;
      }
    }
  }

  &__right {
    max-width: 557px;

    @include mini-desktop {
      max-width: 992px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__descr {
    max-width: 360px;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 178%;
    color: #7e8492;

    @include mini-desktop {
      max-width: 700px;
    }

    @include tablet {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__item {
    gap: 19px;
    @include flex-align-center;
    max-width: 393px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-100);

    @include mini-desktop {
      max-width: 700px;
    }

    @include mobile {
      margin-bottom: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    &::before {
      content: '';
      display: inline-block;
      margin-right: 19px;
      padding-right: 19px;
      width: 20px;
      height: 20px;
      background: url(./assets/icons/icon-ok.svg);
    }
  }
}
