.hero {
  position: relative;
  padding: 87px 0 141px;

  @include mini-desktop {
    padding: 77px 0 121px;
  }

  &::before {
    top: 50px;
    left: 181px;
    width: 551px;
    height: 551px;
    filter: blur(220px);
    background: rgb(250, 117, 21);
    opacity: 0.13;

    @include mini-desktop {
      left: 80px;
      width: 351px;
      height: 351px;
    }

    @include small-tablet {
      width: 251px;
      height: 251px;
    }
  }

  &::after {
    bottom: 0px;
    right: 0px;
    width: 525px;
    height: 525px;
    filter: blur(180px);
    background: var(--success-color-70);

    @include mini-desktop {
      width: 325px;
      height: 325px;
    }
    @include small-tablet {
      left: 40px;
      top: 20px;
      width: 225px;
      height: 225px;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    z-index: var(--z-index-0);
  }

  &__container {
    align-items: flex-end;
    @include flex-justify-between;

    @include mini-desktop {
      gap: 50px;
      text-align: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 114px;
    color: var(--neutral-color-100);
    font-size: 80px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -3px;

    @include mini-desktop {
      margin-bottom: 74px;
    }

    @include tablet {
      font-size: 60px;
      margin-bottom: 44px;
    }

    @include mobile {
      font-size: 48px;
      margin-bottom: 38px;
    }

    @include small-mobile {
      font-size: 38px;
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 69px;
  }

  &__form {
    @include flex-align-center;
    gap: 16px;

    @include mini-desktop {
      justify-content: center;
    }

    @include small-mobile {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__left {
    max-width: 594px;
  }

  &__input {
    min-width: 280px;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--neutral-color-40);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--neutral-color-100);
    background-color: transparent;

    @include small-tablet {
      padding-bottom: 13px;
    }

    @include mobile {
      max-width: 180px;
      min-width: 120px;
    }
  }

  &__btn {
    padding: 16px 44px;
    color: var(--neutral-color-10);
    background-color: var(--neutral-color-100);

    @include small-tablet {
      padding: 12px 32px;
    }
  }

  &__right {
    position: relative;
    margin-right: 20px;

    @include mini-desktop {
      display: none;
    }
  }

  &__sales {
    margin-bottom: 29px;
    padding: 20px;

    &-img {
      max-width: 366px;
      max-height: 260px;

      @include small-desktop {
        max-width: 280px;
      }
    }

    &-title {
      margin-bottom: 16px;
      color: rgb(29, 30, 37);
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.03em;
    }
  }

  &__customer {
    position: absolute;
    display: inline-block;
    padding: 15px 18px;
    top: -60px;
    right: -140px;

    @include small-desktop {
      top: -140px;
      right: -30px;
    }

    @include mini-desktop {
      top: 0px;
      right: -100px;
    }

    &-img {
      max-width: 177px;
      max-height: 149px;
    }

    &-title {
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: 700;
      line-height: 187%;
      letter-spacing: -0.03em;
      color: rgb(29, 30, 37);
    }
  }

  &__customer,
  &__sales {
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0px rgba(89, 96, 135, 0.12);
    background: rgb(255, 255, 255);
  }

  &__stats {
    padding: 20px 29px;
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0px rgba(45, 51, 81, 0.12);
    background: #000;
    text-align: left;

    &-head {
      &-th {
        font-size: 14px;
        font-weight: 600;
        line-height: 143%;
        color: #5c616f;
      }
    }

    &-body {
      &-th {
        font-size: 20px;
        font-weight: 700;
        line-height: 130%;
        color: #fff;

        &:nth-child(1) {
          padding-right: 80px;
        }
      }

      &-num {
        display: inline-block;
        margin-right: 3px;
        font-size: 14px;
        font-weight: 600;
        line-height: 143%;

        &--green {
          color: #60d38c;

          ::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
          }
        }

        &--red {
          color: #e35454;

          ::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
          }
        }
      }

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        letter-spacing: -0.04em;
        color: #5c616e;
      }
    }
  }
}
