.insight {
  &__container {
    border-top: 1px solid var(--neutral-color-30);
    padding-top: 160px;
    padding-bottom: 91px;

    @include mobile {
      padding-top: 86px;
      padding-bottom: 91px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__descr {
    margin-bottom: 80px;
    font-weight: 500;
    line-height: 178%;
    color: #7e8492;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__title,
  &__descr {
    text-align: center;
  }

  &__slider {
    position: relative;

    &-btns {
      @include flex-all-center;
      position: absolute;
      z-index: 2;
      top: 126px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: var(--neutral-color-10);
      display: none;

      @include small-mobile {
        left: 100%;
        display: flex;
      }
    }
  }

  &__article {
    max-width: 582px;

    @include mini-desktop {
      max-width: 482px;
    }

    @include mobile {
      max-width: 400px;
    }

    &-img {
      margin-bottom: 16px;
    }

    &-head {
      @include flex-all-between;
      font-weight: 400;
      line-height: 150%;
      color: #7e8492;

      @include small-mobile {
        flex-direction: column;
      }
    }

    &-author {
      font-style: normal;
    }

    &-title {
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: #1d1e25;
    }
  }
}
